# Comparison Analysis of Cargo Import and Export in the State Of Maryland

Maryland Port Administration(MPA) General Cargo Monthly Data for the MPA's public terminals (Souce: Internal MPA data)

The MPA keeps track of import and export of Cargo at all its public terminals. Let's have a look at it's most updated dataset.

The dataset can be accessible as a json url or a csv file.
The json format is available at : https://opendata.maryland.gov/resource/2ir4-626w.json
The dataset can be downloaded as a csv file at  : https://opendata.maryland.gov/api/views/2ir4-626w/rows.csv?accessType=DOWNLOAD

Both can be read as a pandas dataframe.

In [56]:
json_df = pd.read_json('https://opendata.maryland.gov/resource/2ir4-626w.json')

In [58]:
csv_df = pd.read_csv('https://opendata.maryland.gov/api/views/2ir4-626w/rows.csv?accessType=DOWNLOAD')

In [59]:
csv_df.head()

,Month,Container Tons,Auto Tons,Ro/Ro Tons (excl. autos),Forest Products (Break Bulk),Steel & other metals Break Bulk Tons,other Break Bulk Tons,Total General Cargo Tons,Import Loaded TEUs,Export Loaded TEUs,...,Import Empty TEUs,Export Empty TEUs,Total Empty TEUs,Total TEUs,Total Containers,Import Auto Units,Export Auto Units,Total Auto UNITS,Import Ro/Ro Tons,Export Ro/Ro Tons
0,Jan 1998,360095,18386,32967,54189,15705,27515,508857,16051,17418,...,3199,1436,4635,38104,23789,9452,2391,11843,22160,10807
1,Feb 1998,359722,20085,37156,42726,13805,31879,505373,16228,16846,...,3045,2056,5101,38175,23874,11206,1393,12599,23405,13751
2,Mar 1998,377748,27610,57077,43910,10344,31001,547690,18577,18570,...,5906,3525,9431,46578,28926,14570,2967,17537,40470,16607
3,Apr 1998,377397,21900,56087,48180,5663,33094,542321,17777,18157,...,2712,3070,5769,41703,25985,11715,2342,14057,39312,16775
4,May 1998,382760,25824,40905,25530,4022,37509,516550,18178,17104,...,2407,3242,5626,40908,26250,15081,1790,16871,28865,12040

In [60]:
json_df.head()

,month,total_container_tons,total_automobile_tons,total_ro_ro_tons,forest_products_break_bulk_,steel_amp_other_metals_tons,total_breakbulk_tons,total_general_cargo_tons,imported_loaded_teus,export_loaded_teus,...,import_empty_teus,export_empty_teus,total_empty_teus,total_teus,total_containers,import_auto_units,export_auto_units,total_auto_units,import_ro_ro_tons,export_ro_ro_tons
0,2022-08-01T00:00:00.000,731143,74433,87514,110999,1182,22689,1027960,49444,19296,...,62,30385,30447,99187,58635,28903,8785,37688,64824,22690
1,2022-07-01T00:00:00.000,733981,62726,95838,66560,1758,21004,981867,50052,19269,...,66,22731,22797,92118,54589,24314,8870,33184,63369,32469
2,2022-06-01T00:00:00.000,780790,78526,98446,71066,616,20575,1050019,51610,21665,...,104,25424,25528,98803,59046,25882,13707,39589,68740,29706
3,2022-05-22T00:00:00.000,716771,77464,107699,41707,1952,24862,964533,45194,22171,...,151,24687,24838,92203,54405,24434,16129,40563,75452,32247
4,2022-04-01T00:00:00.000,612985,70838,95963,95280,1189,24870,901125,38311,18892,...,105,18143,18248,75451,44205,20943,10489,31432,61852,34111

In [36]:
import numpy as np

In [37]:
csvdata = 'Maryland_Port_Administration_General_Cargo.csv'

In [38]:
df = pd.read_csv(csvdata)

In [39]:
df.head()

,Month,Container Tons,Auto Tons,Ro/Ro Tons (excl. autos),Forest Products (Break Bulk),Steel & other metals Break Bulk Tons,other Break Bulk Tons,Total General Cargo Tons,Import Loaded TEUs,Export Loaded TEUs,...,Import Empty TEUs,Export Empty TEUs,Total Empty TEUs,Total TEUs,Total Containers,Import Auto Units,Export Auto Units,Total Auto UNITS,Import Ro/Ro Tons,Export Ro/Ro Tons
0,Jan 1998,"360,095","18,386","32,967","54,189","15,705","27,515","508,857","16,051","17,418",...,"3,199","1,436","4,635","38,104","23,789","9,452","2,391","11,843","22,160","10,807"
1,Feb 1998,"359,722","20,085","37,156","42,726","13,805","31,879","505,373","16,228","16,846",...,"3,045","2,056","5,101","38,175","23,874","11,206","1,393","12,599","23,405","13,751"
2,Mar 1998,"377,748","27,610","57,077","43,910","10,344","31,001","547,690","18,577","18,570",...,"5,906","3,525","9,431","46,578","28,926","14,570","2,967","17,537","40,470","16,607"
3,Apr 1998,"377,397","21,900","56,087","48,180","5,663","33,094","542,321","17,777","18,157",...,"2,712","3,070","5,769","41,703","25,985","11,715","2,342","14,057","39,312","16,775"
4,May 1998,"382,760","25,824","40,905","25,530","4,022","37,509","516,550","18,178","17,104",...,"2,407","3,242","5,626","40,908","26,250","15,081","1,790","16,871","28,865","12,040"

In [40]:
df.describe()

,Month,Container Tons,Auto Tons,Ro/Ro Tons (excl. autos),Forest Products (Break Bulk),Steel & other metals Break Bulk Tons,other Break Bulk Tons,Total General Cargo Tons,Import Loaded TEUs,Export Loaded TEUs,...,Import Empty TEUs,Export Empty TEUs,Total Empty TEUs,Total TEUs,Total Containers,Import Auto Units,Export Auto Units,Total Auto UNITS,Import Ro/Ro Tons,Export Ro/Ro Tons
count,296,296,296,296,296,296,296,296,296,296,...,296,296,296,296,296,296,296,296,296,296
unique,296,295,294,294,295,295,294,296,296,292,...,257,293,291,296,295,295,294,296,295,295
top,Jan 1998,"719,866","55,141","52,384","31,617","2,706","12,977","508,857","16,051","16,846",...,600,"7,759","5,101","38,104","26,279","12,623","13,229","11,843","31,835","15,007"
freq,1,2,2,2,2,2,2,1,1,2,...,3,2,2,1,2,2,2,1,2,2

In [41]:
df.columns.values.tolist()

['Month',
 'Container Tons',
 'Auto Tons',
 'Ro/Ro Tons (excl. autos)',
 'Forest Products (Break Bulk)',
 'Steel & other metals Break Bulk Tons',
 'other Break Bulk Tons',
 'Total General Cargo Tons',
 'Import Loaded TEUs',
 'Export Loaded TEUs',
 'Total Loaded TEUs',
 'Import Empty TEUs',
 'Export Empty TEUs',
 'Total Empty TEUs',
 'Total TEUs',
 'Total Containers',
 'Import Auto Units',
 'Export Auto Units',
 'Total Auto UNITS',
 'Import Ro/Ro Tons',
 'Export Ro/Ro Tons']

In [49]:
df['Year'] =  df['Month'].str.split(" ", n=1, expand=True)[1]

In [50]:
df['Month'] =  df['Month'].str.split(" ", n=1, expand=True)[0]

In [51]:
df

,Month,Container Tons,Auto Tons,Ro/Ro Tons (excl. autos),Forest Products (Break Bulk),Steel & other metals Break Bulk Tons,other Break Bulk Tons,Total General Cargo Tons,Import Loaded TEUs,Export Loaded TEUs,...,Export Empty TEUs,Total Empty TEUs,Total TEUs,Total Containers,Import Auto Units,Export Auto Units,Total Auto UNITS,Import Ro/Ro Tons,Export Ro/Ro Tons,Year
0,Jan,"360,095","18,386","32,967","54,189","15,705","27,515","508,857","16,051","17,418",...,"1,436","4,635","38,104","23,789","9,452","2,391","11,843","22,160","10,807",1998
1,Feb,"359,722","20,085","37,156","42,726","13,805","31,879","505,373","16,228","16,846",...,"2,056","5,101","38,175","23,874","11,206","1,393","12,599","23,405","13,751",1998
2,Mar,"377,748","27,610","57,077","43,910","10,344","31,001","547,690","18,577","18,570",...,"3,525","9,431","46,578","28,926","14,570","2,967","17,537","40,470","16,607",1998
3,Apr,"377,397","21,900","56,087","48,180","5,663","33,094","542,321","17,777","18,157",...,"3,070","5,769","41,703","25,985","11,715","2,342","14,057","39,312","16,775",1998
4,May,"382,760","25,824","40,905","25,530","4,022","37,509","516,550","18,178","17,104",...,"3,242","5,626","40,908","26,250","15,081","1,790","16,871","28,865","12,040",1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,Apr,"612,985","70,838","95,963","95,280","1,189","24,870","901,125","38,311","18,892",...,"18,143","18,248","75,451","44,205","20,943","10,489","31,432","61,852","34,111",2022
292,May,"716,771","77,464","107,699","41,707","1,952","24,862","964,533","45,194","22,171",...,"24,687","24,838","92,203","54,405","24,434","16,129","40,563","75,452","32,247",2022
293,Jun,"780,790","78,526","98,446","71,066",616,"20,575","1,050,019","51,610","21,665",...,"25,424","25,528","98,803","59,046","25,882","13,707","39,589","68,740","29,706",2022
294,Jul,"733,981","62,726","95,838","66,560","1,758","21,004","981,867","50,052","19,269",...,"22,731","22,797","92,118","54,589","24,314","8,870","33,184","63,369","32,469",2022
295,Aug,"731,143","74,433","87,514","110,999","1,182","22,689","1,027,960","49,444","19,296",...,"30,385","30,447","99,187","58,635","28,903","8,785","37,688","64,824","22,690",2022

In [53]:
df.columns.values

array(['Month', 'Container Tons', 'Auto Tons', 'Ro/Ro Tons (excl. autos)',
       'Forest Products (Break Bulk)',
       'Steel & other metals Break Bulk Tons', 'other Break Bulk Tons',
       'Total General Cargo Tons', 'Import Loaded TEUs',
       'Export Loaded TEUs', 'Total Loaded TEUs', 'Import Empty TEUs',
       'Export Empty TEUs', 'Total Empty TEUs', 'Total TEUs',
       'Total Containers', 'Import Auto Units', 'Export Auto Units',
       'Total Auto UNITS', 'Import Ro/Ro Tons', 'Export Ro/Ro Tons',
       'Year'], dtype=object)

/tmp/ipykernel_51/137497513.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  dfyears.mean()

Empty DataFrame
Columns: []
Index: [1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

AttributeError: 'DataFrameGroupBy' object has no attribute 'values'